.post-products {
  width: 100%;
  min-height: 100vh;
}

.post-products-inner {
  width: 90%;
  /* margin-left: auto;
    margin-right: auto; */
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-products-inner-headers {
  display: flex;
  gap: 20rem;
}

.header-1 {
  transition: all 0.3s ease-in-out 0.5ms;
}

.header-1:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}

.yes {
  transition: all 0.3s ease-in-out 0.5ms;
}

.yes:hover {
  color: #1e90ff;
}

.create-product-section {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.product-name label {
  font-size: 17px;
  font-weight: 600;
  margin-right: 20px;
  color: #1e90ff;
}

.product-name input {
  width: 200px;
  height: 30px;
  /* border: none; */
  border-radius: 6px;
  padding: 10px;
}

.product-name input::placeholder {
  font-weight: bold;
}

.product-name input:focus {
  /* outline: none; */
  border: #beadfa;
}

.create-product-btn {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #fff89a;
  border: none;
  font-size: 18px;
  font-weight: bold;
}

.content-container {
  position: relative;
}

.table-container {
  overflow-x: auto;
  /* display:flex;
    justify-content:center;
    align-items:center; */
}
.products-table {
  position: absolute;
  top: 50px;
  right: -290px;
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
}

.product-image {
  width: 70px;
  height: 60px;
  object-fit: cover;
  border-radius: 20px;
}

.products-table th,
.products-table td {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-btns {
  margin-top: 40px;
  display: flex;
  gap: 10px;
}

.csv {
  padding: 5px;
  cursor: pointer;
  background-color: #fff89a;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

.pdf {
  padding: 5px;
  cursor: pointer;
  background-color: #f0b4b4;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

.edit {
  padding: 5px;
  cursor: pointer;
  background-color: #fff89a;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

.delete {
  padding: 5px;
  cursor: pointer;
  background-color: #d30e39;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 568px) {
  .post-products-inner {
    width: 100%;
  }

  .post-products-inner-headers {
    gap: 2rem;
  }

  .table-container {
    overflow-x: auto;
  }

  .products-table {
    overflow-x: auto;

    top: 100px;
    margin-top: 20px;
    right: -50px;
    font-size: 14px;
  }

  .products-table th,
  .products-table td {
    padding: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 912px) {
  .products-table {
    overflow-x: auto;

    top: 100px;
    margin-top: 20px;
    right: -200px;
  }
}
